<main class="form-signin w-100 m-auto">
  <form [formGroup]="form" (submit)="submit()">
    <h1 class="h3 mb-3 fw-normal">Please Register</h1>

    <div class="form-floating">
      <input
        formControlName="firstName"
        class="form-control"
        placeholder="First Name"
      />
      <label for="floatingInput">First Name</label>
    </div>

    <div class="form-floating">
      <input
        formControlName="lastName"
        class="form-control"
        placeholder="Last Name"
      />
      <label for="floatingInput">Last Name</label>
    </div>

    <div class="form-floating">
      <input
        formControlName="email"
        type="email"
        class="form-control"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Email</label>
    </div>

    <div class="form-floating">
      <input
        formControlName="password"
        type="password"
        class="form-control"
        placeholder="Password"
      />
      <label for="floatingInput">Password</label>
    </div>

    <div class="form-floating">
      <input
        formControlName="passwordConfirm"
        type="password"
        class="form-control"
        placeholder="Password Confirm"
      />
      <label for="floatingInput">Password Confirm</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
  </form>
</main>
