<form [formGroup]="form" (submit)="submit()">
  <div class="mb3">
    <mat-form-field appearance="standard">
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput />
    </mat-form-field>
  </div>

  <div class="mb3">
    <mat-form-field appearance="standard">
      <mat-label>Description</mat-label>
      <textarea formControlName="description" matInput> </textarea>
    </mat-form-field>
  </div>

  <div class="mb3">
    <mat-form-field appearance="standard">
      <mat-label>Image</mat-label>
      <input formControlName="image" matInput />
    </mat-form-field>
  </div>

  <div class="mb3">
    <mat-form-field appearance="standard">
      <mat-label>Price</mat-label>
      <input formControlName="price" type="number" matInput />
    </mat-form-field>
  </div>

  <button mat-flat-button color="primary">Save</button>
</form>
